<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- This version uses the openai_ros environments -->
    <rosparam command="load" file="$(find turtlebot_ml)/config/turtlebot2_openai_qlearn_params_wall_v2.yaml" />
    <!-- Launch the training system -->
    <node pkg="turtlebot_ml" name="turtlebot2_maze" type="start_training.py" output="screen"/>
</launch> 